<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkpoint Visualization</title>
</head>
<body>
    <h1> Checkpoint Visualizations </h3>
        
    <!-- Jessica -->
    <h3> Time Series Plots </h3>
    <div id="line-plot-male"></div>
    <div id="line-plot-fem"></div>

    <!-- Jason -->
    <h3> Temperature Histograms </h3>
    <div id="temp-hist-male"></div>
    <div id="temp-hist-fem"></div>

    <!-- Jianyun -->
    <h3> Activity Histograms </h3>
    <div style="display: flex; justify-content: center; gap: 20px; flex-wrap: wrap;">
        <div style="width: 45vw; height: 40vh;">
            <label for="male-select">Select Male Mouse:</label>
            <select id="male-select"></select>
            <canvas id="act-hist-male"></canvas>
        </div>
    
        <div style="width: 45vw; height: 40vh;">
            <label for="female-select">Select Female Mouse:</label>
            <select id="female-select"></select>
            <canvas id="act-hist-fem"></canvas>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="../js/jianyun_act_hist.js"></script>
</body>
</html>