<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkpoint Visualization</title>
    <script src="../js/hist_for_temperature.js" type="module" defer></script>
</head>
<body>
    <h1> Checkpoint Visualizations </h3>
        
    <!-- Jessica -->
    <h3> Time Series Plots </h3>
    <div id="line-plot-male"></div>
    <div id="line-plot-fem"></div>

    <!-- Jason -->
    <h3> Temperature Histograms </h3>
    <div id="temp-hist-male"></div>
    <div id="temp-hist-fem"></div>

    <!-- Jianyun -->
    <h3> Activity Histograms </h3>
    <div id="act-hist-male"></div>
    <div id="act-hist-fem"></div>
</body>
</html>