<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Final Visualization</title>
    <!-- <link rel="stylesheet" href="../css/style.css"> -->
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/comp.css">
</head>
<body>
    <h1> Progress Page </h1>
    <nav>
        <button id="showHistogram" class="active">Histogram</button>
        <button id="showComparison">Comparison</button>
    </nav>

    <div id="super-container">
        <!-- Temperature Histogram -->
        <div id="histogram-container" style="align-content: center;">
            <h2> Distribution Insepction </h2>
            <div id="intro-text">
                <h3>Introduction to the Temperature Data</h3>
                <p style="padding: 50px; text-align: justify; text-align-last: center;">
                The temperature data reveals a <strong>bi-modal pattern</strong> with two distinct peaks.
                In the <strong>first peak (36.1°C to 36.7°C)</strong>, the temperature counts for female
                mice are <strong>significantly higher than those for male mice</strong>. In the
                <strong>second peak</strong>, the values for males and females <strong>diverge slightly</strong>,
                with <strong>males peaking around 37.3°C</strong> and <strong>females around 38.1°C</strong>.
                This observation led us to investigate potential factors contributing to these differences.
                We explore the <strong>daily cycle patterns</strong>, <strong>activity levels</strong>, and
                <strong>the estrous cycle in female mice</strong> to better understand the underlying causes.
                </p>
            </div>
            <label for="dataSelection">Select Data to Display:</label>
                <select id="dataSelection">
                    <option value="temp">Temperature Distribution</option>
                    <option value="activity">Activity Distribution</option>
                </select>
            <div id="temp-hist" style="display: block;"></div>
            <div id="activity-hist" style="display: none;"></div>
        </div>
        <script src="https://d3js.org/d3.v7.min.js"></script>
        <script src="../js/histogram_overlayed.js"></script>

        <!-- Temperature & Activity Comparison -->
        <div id="comparison-container">
            <h2>Temperature & Activity Comparison</h2>
            <div id="intro-text">
                <h3>Detailed Exploration</h3>
                <p style="padding: 50px; text-align: justify; text-align-last: center;">
                Below is the detailed time-series data visualization with considerations of <strong>light-dark cycle, estrus cycle, as well as sex differences</strong> between the mice.
                The <strong>light-dark cycle</strong> is represented through the interchanging background color where yellow signifies light, and black signifies dark. The <strong>estrus cycle</strong> of female
                mice starts on day 2, and repeats every 4 days. The start of the estrus cycle is labeled using red dotted lines as shown below.
                On the left, you may select to switch from a <strong>general view (averaged data)</strong>, to a more detailed, exploration mode to compare <strong>individual mice.</strong>
                Note that the data are standardized using min-max normalization for axis-alignment, but the tooltip shows original raw data at a specific timestamp.
                </p>
            </div>
            <select id="dataMode">
                <option value="average">Average</option>
                <option value="individual">Individual Cases</option>
            </select>
            <div id="individualControls" style="margin:10px 0;"></div>
            <div style="display: flex; justify-content: center;">
                <div style="width: 90vw; height: 40vh;">
                    <div id="comparison-chart"></div>
                    <div id="chart-container" style="position: relative;">
                        <div id="individual-chart" style="display: none;"></div>
                        <div id="individual-chart-controls" style="display: none;"></div>
                    </div>
                </div>
            </div>
            <div id="tooltip" style="position: absolute; display: none; background: rgba(255,255,255,0.9); padding: 5px; border: 1px solid #ccc; border-radius: 3px; pointer-events: none; font-family: sans-serif; font-size: 12px;"></div>
        </div>
    </div>
    <script src="../js/comparison.js"></script>
    <script src="../js/controller.js"></script>
    <script src="../js/individual.js"></script>
</body>
</html>