<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Final Visualization</title>
</head>
<body>
    <h1> Progress Page </h1>

    <!-- Temperature & Activity Comparison -->
    <h3>Temperature & Activity Comparison</h3>
    <div style="display: flex; justify-content: center;">
        <div style="width: 90vw; height: 40vh;">
            <div id="comparison_chart"></div>
        </div>
    </div>

    <div style="display: flex; justify-content: center;">
        <div style="width: 90vw; height: 40vh;">
            <div id="activity_chart"></div>
        </div>
    </div>

    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="../js/temperature_comparison.js?v=1.1"></script>
    <script src="../js/activity_comparison.js"></script>

</body>
</html>