<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <script type="module" src="../js/global.js"></script>
    <title>Project Showcase</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="team_intro.html">Team Intro</a></li>
            <li><a href="checkpoint_vis.html">Visualization</a></li>
            <li><a href="final_vis.html">Progress</a></li>
        </ul>
    </nav>
    <h1>Welcome to Our Project Showcase</h1>

    <h3>Demo JS Usage</h3>
    <div id="clock"></div>
    
    <h3>Demo CSV Data Fetching</h3>
    <div id="csv-container"></div>
    
</body>
</html>